body {
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
    ),
    url("background.jpg");

    background-size: cover;
    background-position: center 50%;
    background-repeat:no-repeat;
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color:azure;
    font-family: 'Montserrat', sans-serif;
    
    }
    .btn {
        display: inline-block;
        padding:12px 25px;
        background: #00aaff;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        font-weight: bold;
        transition: 0.3s;
        margin-top: 0px;
    }
    .btn:hover {
        background: #0088cc;
        transform: scale(1.08);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
        
    }
    .content {
            background: rgba(0, 0, 0, 0.6);
            padding: 30px;
            max-width: 600px;
            width:90%;

            border-radius: 15px;
            text-align: center;

            position: relative;
            z-index: 2;

        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }